@use '../../variables' as *;

#graphFolderContainer {
    display: flex;
    position: absolute;
    height: 100%;
    left: 1rem;
    z-index: 100;
    padding: 1% 0;

    &>div {
        height: 100%;
        width: max-content;
        background-color: $secondary;
        border-radius: .25rem;
        padding: 1rem;
    }
}

.circle {
    border-radius: 50%;
}

.graph-options {
    background-color: $secondary;
    border-radius: .25rem;
    padding: 8px;
    min-width: 200px;
}