@use '../../variables' as *;

#graphFolderContainer {
    background-color: $secondary;
    border-radius: .25rem;
    display: flex;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: max-content;
    height: calc(100% - 2rem);
    padding: 1rem;
    z-index: 100;
}

.circle {
    border-radius: 50%;
}

.graph-options {
    background-color: $secondary;
    border-radius: .25rem;
    padding: 8px;
    min-width: 200px;
}