@use '../../variables' as *;

#previewContainer {
    view-transition-name: preview-container;

    //     &>div>h1 {
    //         view-transition-name: preview-title;
    //     }
}

.tooltip {
    display: none;
    position: absolute;
    background-color: $tertiary;
    border-radius: 0.25rem;
    padding: 16px;
}

.tooltip-content {
    overflow: auto;
    max-width: 30vw;
    max-height: 30vh;
}